body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
  color: #fff !important;
}

.cardTitle {
  font-size: 22px;
  color: #303F60;
  font-weight: normal;
  padding-bottom: 20px;
}

.whiteText {
  color: #fff;
}

.primaryColor {
  color: #43afff;
}

.formControl {
 background-color: #E8E8E8 !important;
}
